.content
  .content_box
    %ul
      %li.top{:class => is_active?(teacher_root_path)}
        = link_to 'Overview', teacher_root_path, :class => :top
        %ul.two{:class => is_active?(teacher_root_path)}
          - overview_links.each do |text, anchor|
            %li= link_to(text, teacher_root_path(:anchor => anchor))
      %li.top{:class => is_active?(education_standards_path)}
        = link_to 'Education Standards', education_standards_path, :class => :top          
      %li.top{:class => is_active?(computer_needs_path)}
        = link_to 'Computer Needs', computer_needs_path, :class => :top
        %ul.two{:class => is_active?(computer_needs_path)}
          - computer_needs_links.each do |text, anchor|
            %li= link_to(text, computer_needs_path(anchor))
      %li.top{:class => is_active?(lesson_plan_path)}
        = link_to "Lesson Plan", lesson_plan_path, :class => :top
        %ul.two{:class => is_active?(lesson_plan_path)}
          - lesson_plan_links.each do |text, anchor|
            %li= link_to(text, lesson_plan_path(anchor))


      %li.top{:class => is_active?(science_background_path)}
        = link_to 'Science Background', science_background_path, :class => :top
        %ul.two{:class => is_active?(science_background_path)}
          - science_links.each do |text, anchor|
            %li= link_to(text, science_background_path(anchor))
      %li.top{:class => is_active?(grab_bag_path)}
        = link_to 'Grab Bag', grab_bag_path, :class => :top
        %ul.two{:class => is_active?(grab_bag_path)}
          - grab_bag_links.each do |text, anchor|
            %li= link_to(text, grab_bag_path(anchor))

     