%h1 Lesson Plan
- @top_links=true
= jump_to(lesson_plan_links)
- @top_links=false
%hr
%h2{:id => 'purpose'} Purpose
:markdown
  The purpose of this activity is for students to acquire information about objects in the solar system while collecting solar system trading cards through interactive computer use. 

%h2{:id => 'learning_outcomes'} Desired learning outcomes
.markdown
  :markdown
    * Students will identify planets and other solar system objects using visual clues. 
    * Students will read information to learn about planets and other solar system objects.
%h2{:id => 'prerequisites'} Prerequisites
%span{:class=>'list-title'}Before attempting to complete this lesson, the student should:
.markdown
  :markdown


    * Understand that other objects exist in the solar system besides Earth.
    * Be able to read grade-level-appropriate material.
%h2{:id => 'new_vocabulary'} New vocabulary
.markdown.indent
  :markdown
    ###Atmosphere###
    The layer of gases surrounding the surface of a planet, moon, or star.
    ###Crater###
    A bowl-shaped depression caused by a comet or meteorite colliding with the surface of a planet, moon, or asteroid. On geologically active moons and planets (like Earth), craters can result from volcanic activity
    ###Diameter###
    The distance from one side of a circle to the other, measured through the center. For telescopes, the diameter of a lens or mirror is measured from one side to the opposite side, passing through the center.
    ###Evidence###
    Anything that establishes a fact or provides a reason for believing something.
    ###Erosion###
    Natural processes that wear or grind away the surface of an object. On Earth, the major agents of erosion are water and wind.
    ###Galaxy###
    A collection of stars, gas, and dust bound together by gravity.  The Milky Way galaxy contains our solar system.
    ###Hubble Space Telescope###
    An orbiting telescope that collects light from celestial objects in visible, near-ultraviolet, and near-infrared wavelengths. The telescope's primary mirror is 2.4 m (8 ft) wide. It orbits the Earth about every 96 minutes and is powered by sunlight collected with its two solar arrays.
    ###Kuiper Belt###
    A region in our outer solar system where as many as 100 million small, icy bodies called comets reside. Many "short-period" comets originate from this region. The orbits of short-period comets are less than 200 years.
    ###Orbit###
    The act of traveling around a celestial body; or the path followed by an object moving around a celestial body. For example, the planets travel around, or orbit, the Sun because the Sun's gravity keeps them in their paths, or orbits.
    ###Telescope###
    An instrument used to observe distant objects by collecting and focusing their electromagnetic
    radiation. Telescopes are usually designed to collect light in a specific wavelength range.
    Examples include optical telescopes that observe visible light and radio telescopes that detect
    radio waves.

%h2{:id => 'general_misconceptions'} General misconceptions
.markdown
  :markdown
    Students may think that:

      * The Earth is the largest object in the solar system.
      * The Earth is the center of the solar system.
      * All the planets are the same size as Earth.
      * The Sun is not a star because it doesn’t shine at night.
      * The Sun is a burning ball of fire.
      * The planets are evenly spaced between the Sun and Neptune
      * The solar system consists of only the Sun and eight planets.
      * Other stars and galaxies are part of the solar system.
      * Scientists know all there is to know about the solar system.

    Note: For a more complete list of misconceptions, see
    <a href='http://amazing-space.stsci.edu/resources/myths/solar_system.php'>Solar System Myths vs. Realities</a>
     on Amazing Space.

= jump_to(lesson_plan_links)
%h2{:id => 'prep_time'} Preparation time
.markdown 
  :markdown
    * Allow time to preview the lesson and read the science background. These pages will provide additional content that will help educators answer questions posed by students during the lesson implementation.<br/><br/>
    * If modifying the lesson plan or presenting additional materials and/or activities, allow time to
    explore some of the additional references and links provided, identify follow-up and/or additional
    activities, and gather supplies needed by students to complete the lesson and any other planned
    activities. <br/><br/>
    * Be aware that the number of computers directly connected to the Internet and the speed at
    which your system can process images may significantly alter the time to prepare this lesson.
%h2{:id => 'exec_time'} Execution time
.markdown
  :markdown
    30-45 minutes.

    The amount of time needed to complete this activity will vary depending on the length of available teaching time and the ratio of computers to students in the class. One possible way to jumpstart the activity and eliminate the trial-and-error that is sometimes needed to become familiar with a new activity is to have students do just one object together as a class. Use an overhead, a smart board, an LCD, or a TV monitor to project the lesson to the class. 

%h2{:id => 'room_layout'} Physical layout of room
.markdown
  :markdown
    If working in a computer lab, educators may decide whether students will work individually or in small groups of two or three. To maximize learning, no more than three students should share a computer.


    Adaptations can be made to accommodate a classroom that has one computer with Internet access (see one-computer classrooms on this page). Some suggestions include using a device to project the computer image onto a screen or connecting the computer to a television monitor.
    

    Several strategies are available to educators working in classrooms without access to computers or the Internet. Some software programs provide offline access to the Internet. These programs allow users to save Web pages to a local hard drive. Users can then open the downloaded Web pages locally and complete the lesson as if they were on the Internet.


%h2{:id => 'materials'} Materials
.markdown
  :markdown
    Computers with Internet access for as many students as possible. See also <a href='#one_computer'>One-computer classrooms</a>, <a href='#no_computer'>Classrooms without computers</a>, and the <a href='computer-needs'>Computer Needs</a> section.
%h2{:id => 'procedure_directions'} Procedure / Directions
.markdown
  :markdown
    While this is a self-directed interactive computer activity, engaging students in the activity is the first step, and suggestions are included below
.markdown.indent
  :markdown
    <div class='bolder_header'>Engagement Activity:</div>

    * Have students write down as many things as they know about the solar system. Note: This activity offers an opportunity to elicit student misconceptions. <br/><br/>
    * Write the name of each planet on a large card and give one card to eight different students. Then have students arrange themselves in order from the Sun outwards. Ask the rest of the class whether they agree with the order. <br/><br/>
    * Have students draw pictures of the planets without prior research.<br/><br/>
    * Have students choose a planet and ask them to give three reasons why they would like to live there.

    <div class='bolder_header'>Step-by-step instructions:</div>
      <p class='lesson_indent'>
      Once engaged, students may work independently or in small groups to complete the activity described below. Educators should be aware that the number of computers directly connected to the Internet and the speed at which your system can process images may significantly alter the time to complete this activity. 
      </p><p class='lesson_indent'>
      Students collect "Solar System Trading Cards" by matching the picture of the solar system object with its name. The student selects a solar system object from the main page. The object selected appears on a page with its name and two incorrect options; a question is given to the student as a clue to the right answer. Select the correct answer to collect the card and to learn more about the object. When incorrect, a page appears with clues to the correct answer. The student has the opportunity to try again with a different answer.
      </p>
= jump_to(lesson_plan_links)

%h2{:id => 'evaluation_assessment'} Evaluation / Assessment
.markdown
  :markdown
    Students can be evaluated by their individual success with the card collection. Other suggestions are:
  
      * Using the information provided on the collected solar system trading cards, have students create a graphic organizer showing the similarities and differences between the rocky (or terrestrial) planets and the giant (or Jovian) planets. <br/><br/>
      * Have students research and present information about their favorite object in the solar system. 

%h2{:id => 'follow_up_activities_extensions'} Follow-up activities 
.markdown
  :markdown
    * Students will order the planets using the distance from the Sun data included in the     #{link_to 'Solar System Data Table',asset_path('solar_system_data_table.pdf')}
    
    * Students will order the planets and the Sun using the diameter data included in the  #{link_to 'Solar System Data Table',asset_path('solar_system_data_table.pdf')}
    
    * Students will work in cooperative groups to construct models of the solar system using the information from the Solar System Trading Cards and other data. 
    * Students will work in groups to construct/describe a human habitat for a specific planet. Students will use the Solar System Trading Cards to help in acquiring planet information. 
    * Students will make a graphic organizer comparing qualities of selected planets (e.g., atmosphere, composition). 
    * This activity may need to be done outside the classroom. Students will construct a human model representing distances of planets from the Sun using the following chart:

    <table class='lesson_planets'>
    <tr>   <th> PLANET </th>  <th> DISTANCE SCALE </th></tr>   
    <tr>   <td> Mercury </td> <td> 5 inches </td>      </tr> 
    <tr>   <td> Venus </td> <td> 9 inches </td>        </tr>
    <tr>   <td> Earth </td> <td> 1 foot </td>          </tr>
    <tr>   <td> Mars </td> <td> 1 foot 6 inches </td>  </tr>
    <tr>   <td> Jupiter </td> <td> 5 feet 2 inches </td>  </tr>
    <tr>   <td> Saturn </td> <td> 9 feet 6 inches </td>  </tr>
    <tr>   <td> Uranus </td> <td> 19 feet </td>          </tr>
    <tr>   <td> Neptune </td> <td> 30 feet </td>         </tr> 
    </table>
    * Students will convert the above distances to metric units.
    * Students will construct a chart showing double and triple values for the information above. 
    * Students will compare the diameters of the planets using the following chart:

    <table class='lesson_planets'>
    <tr>   <th> PLANET </th>  <th> DIAMETER SCALE </th></tr>   
    <tr>   <td> Mercury </td> <td> 2 centimeters </td>      </tr> 
    <tr>   <td> Venus </td> <td> 5 centimeters </td>        </tr>
    <tr>   <td> Earth </td> <td> 5 centimeters</td>          </tr>
    <tr>   <td> Mars </td> <td> 2.5 centimeters </td>  </tr>
    <tr>   <td> Jupiter </td> <td> 57 centimeters</td>  </tr>
    <tr>   <td> Saturn </td> <td> 48 centimeters </td>  </tr>
    <tr>   <td> Uranus </td> <td> 20.5 centimeters </td>          </tr>
    <tr>   <td> Neptune </td> <td> 19.5 centimeters </td>         </tr> 
    </table>
    * Students will convert the units above to English units.
    * Students will construct a chart showing double and triple values of the information above. 
    * Students will develop a mnemonic device to help them remember the names and order of the planets.
    * Students will create their own questions for the Solar System Trading Cards game.
= jump_to(lesson_plan_links)    
%h2{:id => 'interdisciplinary_activities'} Interdisciplinary activities
.markdown
  :markdown

    <br/>ART:
    
    * Students create/draw a patch or logo for a mission to a planet/space object of their choice. Students should be able to justify choices. 
    * Have the students draw an alien native of a specific planet. The student must use the information learned in the Solar System Trading Cards to justify the alien's physical appearance.
    
    ENGLISH:

    * Students will select an object in the solar system and write a letter to the director of the Space Telescope Science Institute to persuade him/her to use the Hubble Space Telescope to observe the object.
    * Students will write and illustrate a "What if...." story. Have them write a story about extraterrestrial life on a planet of their choice. What characteristics would the "creatures" have, and why would they need them to survive on that planet?
    * Students will write questions and receive answers to questions through the following websites: 
      * <a href='http://image.gsfc.nasa.gov/poetry/ask/askmag.html'>NASA's Ask the Space Scientist </a>
      * <a href='http://curious.astro.cornell.edu'>Curious About Astronomy? Ask an Astronomer!</a>   Scientists at Cornell University will answer <br/><br/>your astronomy questions.
      * <a href='http://www.enchantedlearning.com/subjects/astronomy/questions/old/2001apr.shtml'>Enchanted Learning</a>

%h2{:id => 'one_computer'} One-computer classrooms
.markdown
  :markdown
    It is recommended that teachers project the images from the computer onto a classroom screen or television monitor. Here are suggestions to facilitate a large group presentation and to avoid last-minute glitches that can happen when using the Internet:

    * Bookmark the lesson and any links you may find useful.<br/><br/>
    * Take advantage of the enforced pace of a one-computer classroom lesson by having select students read the information on the object after the card is collected. Consider whether students should take notes or complete a teacher-made activity sheet during this activity.
%h2{:id => 'no_computer'} Classrooms without computers
.markdown
  :markdown
    Here are some suggestions: 
    
    * If you have access to a computer with Internet capabilities at home or in the school library, you may print selected parts of the lesson as paper copies or transparencies. 
    * If your school has one or more computers located outside your classroom, e.g., in a library or a computer lab, students may experience the lesson individually or in small groups as a learning station or as a supplement to your solar system unit. 
    * Some students might have computers at home with access to the Internet. If that's the case, you might consider assigning the Solar System Trading Cards lesson as homework or extra credit. 
    * Lithographs and "Fast Facts" for many objects of the solar system family are available on the Amazing Space website at http://amazing-space.stsci.edu/eds/tools/type/pictures.php. 
    * Printed lithographs and posters related to the solar system, which can be used as teaching tools in the classroom, are available FREE from your closest NASA Educator Resource Center at <a href='http://www.nasa.gov/audience/foreducators/postsecondary/contacts/ERCN_State_Listing_prt.htm'>http://www.nasa.gov/audience/foreducators/postsecondary/contacts/ERCN_State_Listing_prt.htm</a>
%h2{:id => 'home_schoolers'} Home schoolers
.markdown
  :markdown
    This lesson is easily followed without additional teacher support if the prerequisites are met. Parents can preview the lesson and examine the teacher pages ahead of time. A wealth of information can be found on the Amazing Space website (http://amazing-space.stsci.edu/) and on Hubblesite, the Hubble Space Telescope's website at the Space Telescope Science Institute (http://hubblesite.org/). Here you can find background information on the telescope, pictures and news releases of past and present stories, education activities, and other science resources.

    More information for the home schooler can be found at:

    * American Homeschool Association website, http://www.home-ed-magazine.com/AHA/aha.html
    * Yahoo Homeschooling Directory, <a href='http://dir.yahoo.com/Education/Theory_and_Methods/Homeschooling/'> http://dir.yahoo.com/Education/Theory_and_Methods/Homeschooling/ </a>
    * The Home School Learning Network, http://www.homeschoollearning.com
    *Griffith, Mary. The Homeschooling Handbook, 2nd edition. Three Rivers Press, NY, 1999
= jump_to(lesson_plan_links)
<br/>
Contact us: Send your comments related to this page to: amazing-space@stsci.edu 
<br/>&nbsp;
<br/>&nbsp;
