.short_break
.troika_h3
  Percentage of galaxy types in HDF-#{field.upcase}
.you_table
  .you_hdr1
    %br
    %br
    Galaxy Type
  .you_hdr2
    .short_break 
    YOUR COMPUTER
    %br
    SAMPLE
    %br
    .table_hdr_text 
      Using
      %phrase.small_link{'word'=>"'smallest'", 'define'=>'define'}smallest reason- able sample size
      of
      .table_bold#count  #{@count}  
  .you_hdr3
    .short_break
    ASTRONOMERS'
    %br
    RESULTS
    %br
    .table_hdr_text
      Using
      %phrase{'word'=>"'whole_population'", 'define'=>'define'} whole population
      of 
      .table_bold HDF-#{field.upcase}
  .you_col1
    .sample_elliptical.you_inline
    .you_galaxy
      Elliptical
  .you_col2
    .cell_pct#elliptical
      ="%5.1f%" % @elliptical
  .you_col3
    .cell_pct
      = "%5.1f%" % ASTRONOMER[field][0]
  .you_col1
    .sample_spiral.you_inline
    .you_galaxy
      Spiral
  .you_col2
    .cell_pct#spiral
      ="%5.1f%" % @spiral
  .you_col3
    .cell_pct
      = "%5.1f%" % ASTRONOMER[field][1]
  .you_col1
    .sample_irregular.you_inline
    .you_galaxy
      Irregular
  .you_col2
    .cell_pct#irregular
      ="%5.1f%" % @irregular
  .you_col3
    .cell_pct
      = "%5.1f%" % ASTRONOMER[field][2]