<!DOCTYPE html>
<html ng-app='gamePage'>
<head>
<base href="/deepfields.us">
%title Galaxy {{"hey, " + "today"}}
= stylesheet_link_tag    "application", :media => "all"
= csrf_meta_tags
</head>  
<body class="game"  >
<div ng-controller='PullupCtrl' class='find_position'>

.game_frame.container_12
  %ng-view
  = render partial: 'layouts/progress_pullup'
  = render :partial=> 'nav/modal_block' 
  = render :partial=> 'nav/vocab' 
#travelogue_path.hide
  = lesson_display_pdf_path 
#progress.hide
  = JSON.dump(@progress)
#field.hide
  = field
#finder_hdf
  = link_to '',finder_hdf_path(:format => :json)
</div>  
</body>
= javascript_include_tag "application"
</html>